@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 


body{
    font-family: "Noto Sans KR", sans-serif;
    background-repeat:no-repeat;
 	background-size: 100% 100%;
}


header{
    color:#252c63;
    margin-left : 3%;
    margin-top: 5%;
    margin-left: 7%;
}

h1{
	font-size: 2.5rem;
}

h2{
	font-size: 1.8rem;
}

#why{
    margin-top : 16%;
}

#why > p{
    line-height : 180%;
    font-size: 1.4rem;
}


#remote{
    display:inline-block; 
    position:fixed;
    top:40%;
    right:20px;
    background-color:#252c63;
    color:white;
    text-decoration: none;
    border-radius: 20%;
}

#remote > ul > li{
    display:inline-block;
    width:fit-content;
    padding-right:40%;
}


#topnav{
    position:absolute;
    background-color:#252c63;
    width:90%;
    top:85px;
    left:52%;
    margin-left : -47%;
    margin-top: 5%;
    border-radius : 8px 8px 8px 8px;
}

ul{
    list-style:none;
    text-align:center;
}

#topnav > ul > li {
    display:inline-block; 
     margin-left :13%;
     margin-right: 13%; 
} 

#who > ul > li {
    display:inline-block;
}

li > a{
    color : white;
    text-align : center;
    text-decoration: none;
}

section{
    margin-left:14%;
    margin-right:14%;
  
}

section > article{
    margin-top:10%;
    padding : 10px;
}

article > p{
    margin-top:5%;
}

#how > p{
	font-size: 1.4rem;
	line-height : 180%;

}

#howUse{
	width:65%;
	height: auto;
	text-align: center;
	margin-left: 18%;
	border-radius: 0px;

}

.imglist{
    display:block;
    text-align: center;
    margin-right:10%;
}

.imgblock{
    padding-left:10%;
    margin-left :0;
    margin-right: 0;
    
}

img{
    border-radius: 70%;
    width : 120px;
    height : 120px;
    
}

